.domain-grid {
  margin-top: 48px;
  display: grid;
  gap: 36px;
  grid-auto-rows: auto;
  grid-template-columns: 1fr;

  @media screen and (min-width: $break-md) {
    grid-template-columns: 1fr 1fr;
  }

  @media screen and (min-width: $break-lg) {
    row-gap: 64px;
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.domain-grid__domain-title {
  font-size: 28px;
  font-family: $serif;
}

.domain-grid__domain-description {
  font-size: 18px;
  line-height: 28.8px;
}

.domain-grid__domain-link {
  margin-top: 12px;
  font-size: 18px;
  font-weight: 700;

  a {
    color: inherit;
    font-weight: inherit;
  }
}
