a {
  color: $color-primary;
  text-decoration: none;
  transition: color 0.3s;

  // &:hover {
  //   color: $color-secondary;
  // }
}
h1,h2{
  font-family: $serif;
  font-style: normal;
  font-weight: 700;
}
h2{
  color: $color-secondary;
  font-weight: 500;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  margin: 30px 0; 
}
h2{
  font-size: 2rem;
  @media (max-width: 767px){
    font-size: 1.5rem;
  }
}
strong {
  font-weight: bold;
  color: $color-secondary;
}

a {
  color: $color-primary;
  font-family: $sans;
  @extend .type--body;

  &:hover {
    color: $color-secondary;
  }
}

p {
  font-family: $sans;
  @extend .type--body;
}

.type--header {
  font-family: $serif;
  font-style: normal;
  font-weight: 700;

  @media (min-width:800px){
    font-size: 2.5rem;
  }
}

h4 {
  font-size: 1.25rem;
  color: $color-dark-blue;
}

.type--subheader {
  align-items: center;
  display: flex;
  font-size: 1.5rem;
  margin-top: 0;
  margin-bottom: 0;

  i.circle {
    align-items: center;
    display: flex;
    height: 35px;
    justify-content: center;
    margin-right: 10px;
    width: 35px;
  }

  @media (min-width:800px){
    font-size: 2.5rem;
  }
}

.type--header-border {
  border-top: 2px solid $color-primary;
  color: $color-primary;
  display: block;
  h3 { font-size: 1.3rem; }

  @media (min-width:800px){
    h3 { font-size: 1.75rem; }
  }
}

.type--body {
  font-weight: 300;
  line-height: 1.75rem;
  margin-top: 0;
}

.type--bold {
  font-weight: 700;
}

.type--italic {
  font-style: italic;
}

.page-header {
  p {
    @extend .type--body;
  }
}

.section-header {
  h1, h2{
    color: $color-secondary;
    margin-bottom: 10px;    
    @extend .type--header;
  }

  h3 {
    font-size: 1.33rem;
    font-weight: 400;
  }

  p {
    font-size: 1.33rem;
  }

  .cta {
    font-size: 1.33rem;
  }
  @media(max-width: 768px){
    h3{
      font-size: 1.1rem;
    }
  }
}

.hero{
  h1{
    margin-bottom: 0;
    @extend .type--header;
  }

  h2{
    font-size: 1.33rem;
    font-weight: 400;
    color: $color-white;
  }
}

.article-layout {
  h2{
    font-size: 1.65rem;
    line-height: 2.3rem;
    & + .subheading{
      margin-top: -1rem;
    }
  }
}

p.desc{
  color: $color-secondary;
  font-size: 0.88rem;
  line-height: 1.3;

}

.subheading, .subheading a{
  color: $color-gray;
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
}

figcaption {
  color: $color-gray;
  font-size: 0.9rem;
  width: 100%;
}

.figure--two {
  figcaption { margin-top: 10px; }
}

blockquote {
  font-size: 1rem;
  line-height: 1.33rem;
  font-weight: bold;
  margin: 0;
}

.module-copy {
  font-size: 16px;
  font-weight: 400;
  margin: 0;
}

.program-heading {
  text-align: center;
}

.link--inline {
  display: block;
  // transition: color 0.15s;
  text-align: center;

  &:hover {
    color: $color-primary;
  }
}

.type--blue {
  color: $color-primary;
}

.type--navy {
  color: $color-secondary;
}

.type--black {
  color: $color-black;
}

.type--center {
  text-align: center;
}

.type--white {
  color: $color-white;
}
#tab-map-programs{
  ul{
    margin: 0;
    padding-left: 1.5rem; 
    li + li{
      margin-top: 1.5em;
    }
  }
  li{
    line-height: 1.75;
  }
}