// Colors
$color-primary: #2AC2E1;
$color-secondary: #074556;
$color-black : #000;
$color-light-gray: #FBFBFB;
$color-light-blue: #E8F3F8;
$color-dark-blue: #074556;
$color-med-gray: #e8e8e8;
$color-gray: #B3B3B3;
$color-white: #ffffff;
$color-charcoal: #231F20;
$navheight: 84px;
// Fonts
$sans: aktiv-grotesk, sans-serif;
$serif: "Mercury Display A","Mercury Display B", Times, serif;

// Breakpoints
$break-xs:  350px;
$break-sm:  580px;
$break-md:  850px;
$break-lg:  1024px;
$break-xl:  1400px;

//
$footer-height: 70px;

$max-width: 1280px;
$max-width-lg: 1600px;

$content-max: 1400px;